#archives {
  display: flex;
  background-color: var(--color-cream);
  align-items: center;
  p.latestBlog {
    font-weight: bold;
  }
  p.latestBlog,
  p.latestNews {
    position: relative;
    margin-left: 3em;
    padding-left: 1em;
    color: var(--color-black);
    &:hover {
      font-weight: bold;
      color: var(--color-red);
    }
  }

  p.latestBlog::before,
  p.latestNews::before {
    content: "";
    width: 80px;
    height: 2px;
    background-color: var(--color-red);
    color: var(--color-red);
    position: absolute;
    top: 0.65em;
    left: -49px;
    bottom: 0;
    padding: 0em;
  }
  p.latestNews::before {
    width: 50px;
    left: -19px;
    color: var(--color-lightBlack);
    background-color: var(--color-lightBlack);
  }
  .archiveCardWrap {
    display: flex;
    .archiveCard {
      width: 320px;
      height: 450px;
      height: max-content;
      position: relative;

      .archiveImg {
        z-index: 1;
      }
      .archiveCardText {
        position: absolute;
        bottom: 0;
        z-index: 4;
        span {
          background: var(--color-red);
          padding: 0.15rem 0.75rem 0.15rem 0.75rem;
        }
        p {
          font-size: 0.87em;
          padding: 1.15rem;
        }
      }
    }
  }
}
