#intro {
  background-image: url("../assets/intro.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  // height: calc(100vh - 76px);
  .introWrap {
    color: var(--color-white);
    width: 50%;
    h1 {
      font-size: 5em;
    }
    .scrollToWrap {
      position: absolute;
      bottom: 2em;
      right: 2em;
    }
    button {
      border-radius: 3em !important;
    }
  }
}
