#intro {
  background-image: url("../assets/intro.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-color: transparent;
  // height: calc(100vh - 76px);
  height: 100vh;
  position: static;
  top: 0;
  .introWrap {
    color: var(--color-white);
    width: 50%;
    h1 {
      font-size: 5em;
    }
    .scrollToWrap {
      position: absolute;
      bottom: 2em;
      right: 2em;
    }
    button {
      border-radius: 3em !important;
      padding: 0.5rem 3rem !important;
      font-size: 1em !important;
    }
  }
}
