#talks {
  background-color: var(--color-voilet);
  color: var(--color-cream);

  .carousel-control-prev,
  .carousel-control-next {
    width: 1em;
    height: 1em;
    font-size: 2em;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 1em;

    width: 1em;
    height: 1em;
    font-size: 2em;
    padding: 0;
    /* margin: 0; */
    position: absolute;
    bottom: 1em;
    /* position: absolute; */
    right: 3rem;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    /* justify-content: center; */
    /* padding: 0; */
    /* margin-right: 15%; */
    margin-top: 15rem;
    margin-left: 60%;
    list-style: none;
  }
  .carousel-control-next {
    margin-left: 63%;
  }
  button {
    border-radius: 3em !important;
  }
}
.figure {
  display: inline-block;
  object-fit: contain;
  max-height: 250px;
  margin-bottom: 0rem !important;
}
.swiper-pagination-fraction {
  left: 60% !important;
  width: max-content !important;
}
.slideInfo {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.1;
  margin-bottom: 2em;
}
.slideTitle::after {
  content: "NEW";
  padding: 1em;
  background-color: orange;
  border-radius: 20em;
  padding: 0.15em 1em;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--color-cream);
  margin-left: 1em;
}
